@model IEnumerable<FridgePZ.Models.Categoryitempattern>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="limiter">
    <div class="table100 ver5 m-b-110">
        <table data-vertable="ver5" width: 100%>
            <thead>
                <tr class="row100 head">
                    <th class="column100 column2" data-column="column2">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th class="column100 column2" data-column="column2">
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th class="column100 column3" data-column="column3">
                        @Html.DisplayNameFor(model => model.CurrentQuantity)
                    </th>
                    <th class="column100 column4" data-column="column4">
                        @Html.DisplayNameFor(model => model.ExpectedQuantity)
                    </th>
                    <th class="column100 column5" data-column="column5" ></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="row100">
                        <td class="column100 column2" data-column="column2">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="column100 column2" data-column="column2">
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td class="column100 column3" data-column="column2">
                            @Html.DisplayFor(modelItem => item.CurrentQuantity)
                        </td>
                        <td class="column100 column4" data-column="column2">
                            @Html.DisplayFor(modelItem => item.ExpectedQuantity)
                        </td>
                        <td class="column100 column5" data-column="column5">
                            <a asp-action="Edit" asp-route-id="@item.CategoryItemPatternId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.CategoryItemPatternId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.CategoryItemPatternId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>
